.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 87vh;
  padding-left: 10px;
  margin: 50px auto;
  background-color: rgb(234, 195, 252);
  background-image: linear-gradient(rgb(227, 192, 243), rgb(197, 237, 247));
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}